.header {
  width: 100%;
  display: flex;
  background-color: #444791;
  color: white;
  flex: 1;
  line-height: 24px;
  padding: 6px 0px;
}

.header-menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-leftFold {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;

}

.header-rightFold {
  display: flex;
  flex: 11;
  justify-content: space-between;
}

.header-label {
  font-size: 18px;
  font-weight: 600;
  margin-left: 16px;
  line-height: 24px;
}

.header-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 8;
  background-color: rgba(255, 255, 255, 0.795);
  padding: 6px;
  border-radius: 6px;
  line-height: 20px;
  font-size: 14px;
  color: #464775;
}

.header-search input{
  border: none;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  font-family:"Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 6px;
  color: #464775;
  outline: none;
}

.header-search input::placeholder{
  color: #464775
}


.header-profile{
  display: flex;
  flex: 4;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}

.Avatar{
  height: 32px;
  border-radius: 50%;
  margin-right: 6px;
}

.header-profile .option{
  margin-right: 16px;
}